<div class="container brown bold">
  <h5 class="bold">NOTE:</h5>
  <h5 class="bold">1.Assignment 2 is similar with Assignment1, Go to Assignment1</h5>
  <h5 class="bold">2. Additional requirement:  <span class="red">"Create a canActivate Guard and that guard must check if the session storage
is present or not. If it is present, it should redirect it to the next page or else
it should show a message not authorized."</span></h5>
  <h5 class="bold">3. Try to login and it will redirect to "ass1/add" page guarded by AuthGuard</h5>
</div>
