<div class="container brown bold">
  <h5 class="bold">NOTE:</h5>
  <h5 class="bold">1.Assignment 3 is similar with Assignment2, Go to Assignment1</h5>
  <h5 class="bold">2. Additional requirement: "Add a canDeactivate guard to alert when routing from <span class="red">"Add Player"</span> to <span class="red">"List Of Players"</span></h5>
  <h5 class="bold">3. Add first name in <span class="red">"Add Player"</span> and try to navigate to  <span class="red">"List Of Players"</span> to see the alert</h5>
</div>
