<div class="container brown bold">
  <h5 class="bold">NOTE:</h5>
  <h5 class="bold">1.Assignment 4 is similar with Assignment3,go to Assignment1</h5>
  <h5 class="bold">2. Additional requirement: <span class="red">"Create resolve route which will populate the dropdown values from the service for the drop down before the component is instantiated."</span></h5>
  <h5 class="bold">3. check  <span class="red">"playertype.resolve.service"</span> and the use in   <span class="red">"app.route.ts"</span></h5>
</div>
